
.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(18, 18, 18, 0.95);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(223, 188, 148, 0.1);

    /*wysuwanie paska*/
    transform: translateY(-102%);
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.bigLogo{
    font-size: 2rem !important;
}

.visible {
    transform: translateY(0);
}

.hidden {
    pointer-events: none;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navLinks a {
    color: var(--cream);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
    text-decoration: none;
}

.navLinks a:hover {
    opacity: 1;
    color: var(--yellow);
}
