
.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(18, 18, 18, 0.95);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(223, 188, 148, 0.1);
    transform: translateY(-102%);
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.logoutBtn {
    background: transparent;
    border: 2px solid var(--glitch-cyan); /* Cyjanowa ramka */
    color: var(--glitch-cyan);
    padding: 5px 15px;
    font-family: 'Anton', sans-serif; /* Pasuje do reszty nagłówków */
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    margin-left: 10px;
}

.logoutBtn:hover {
    background: var(--glitch-cyan);
    color: #000;
    box-shadow: 0 0 10px var(--glitch-cyan);
    transform: translateY(-2px);
}
.bigLogo{
    font-size: 2rem !important;
}

.visible {
    transform: translateY(0);
}

.hidden {
    pointer-events: none;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navLinks a {
    color: var(--cream);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
    text-decoration: none;
}

.navLinks a:hover {
    opacity: 1;
    color: var(--yellow);
}
