/* src/components/Navbar.module.css */

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1.5rem;
    background-color:var(--background);
    color: var(--cream);
    font-family: var(--font-heading, 'Impact', sans-serif);
    position: sticky; /* Przykleja element */
    top: 0;           /* Do samej góry */
    z-index: 1000;
}

/* --- LOGO --- */
.logo {
   font-size: 2rem;
    margin-right: 40px;
}

/* --- ŚRODKOWE MENU (LINKS) --- */
.navLinks {
    display: flex;
    gap: 2rem; /* Odstępy między linkami */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLink {
    text-decoration: none;
    font-size: 1.5rem; /* Duża, czytelna czcionka jak na screenie */
    text-transform: uppercase;
    transition: color 0.2s;
}

.navLink:hover {
    color: #fff; /* Po najechaniu jaśniejszy */
}

/* --- IKONY PO PRAWEJ --- */
.icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-left: auto;
}

.icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    stroke: #E6DACE; /* Kolor linii ikon */
    stroke-width: 2;
    fill: none;
    transition: transform 0.2s, stroke 0.2s;
}

.icon:hover {
    transform: scale(1.1);
    stroke: #fff;
}