@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    background-color: var(--background); /* Retro beż / stary papier */
    color: var(--white);
    cursor: crosshair; /* Twój celownik */
    font-family: var(--font-main),Helvetica; /* Tymczasowy font retro */
    margin: 0;
    padding: 0;
  }
}

:root {
  /*paleta*/
  --background:#222222;
  --white:#f4e2ce;
  --cream:#dfbc94;
  --yellow:#e5a657;
  --orange:#752710;
  --brown:#1f0c00;

  --font-main: Lato, helvetica;
  --font-heading: Anton, sans-serif;

  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--white);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-family: var(--font-heading);
  color: var(--cream);
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--brown);
    background-color: var(--background);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
