@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    color: var(--white);
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: crosshair;
    margin: 0;
    padding: 0;
  }
}

:root {
  /*paleta*/
  --background:#121212;
  --white:#f4e2ce;
  --cream:#dfbc94;
  --yellow:#e5a657;
  --orange:#752710;
  --brown:#1f0c00;

  --font-heading: Anton, Helvetica, Arial, sans-serif;
  --heading-weight: 900;
  --heading-spacing: -0.06em;
  --heading-color: var(--cream);
  --heading-transform: scaleY(1.7);
  --heading-case: uppercase;



  color-scheme: light dark;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-heading{
  font-family: var(--font-heading),sans-serif;
  font-weight: var(--heading-weight);
  letter-spacing: var(--heading-spacing);
  transform: var(--heading-transform);
  color: var(--heading-color);
  text-transform: var(--heading-case);

}

.noise-overlay {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200vh;
  z-index: 9999;
  pointer-events: none;
  
  /* KLUCZ DO SUKCESU: */
  /* 1. Rozciągamy tło do 500px (powiększenie ok. 2.5x) */
  background-size: 500px 500px;
  
  /* 2. Wymuszamy "pixelated" - dzięki temu przy rozciąganiu 
        robią się ostre kwadraty, a nie rozmyte plamy */
  image-rendering: pixelated;
  
  /* 3. Opacity - przy większym ziarnie warto dać nieco mniej, np. 0.1 */
  opacity: 0.11;
  
  /* 4. baseFrequency='0.65' - trochę rzadsze ziarno, żeby po powiększeniu nie było "sypką mąką" */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='1'/%3E%3C/svg%3E");
  
  animation: noiseAnimation 0.25s steps(3) infinite;
}

/* Animacja bez zmian */
@keyframes noiseAnimation {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -5%); }
  20% { transform: translate(-10%, 5%); }
  30% { transform: translate(5%, -10%); }
  40% { transform: translate(-5%, 15%); }
  50% { transform: translate(-10%, 5%); }
  60% { transform: translate(15%, 0); }
  70% { transform: translate(0, 10%); }
  80% { transform: translate(-15%, 0); }
  90% { transform: translate(10%, 5%); }
  100% { transform: translate(5%, 0); }
}